/* Body setup + grid */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Oxygen", "Open Sans", sans-serif;
}

.viewport-wrap {
  height: 100%;
}

.boolean-child {
  z-index: 10000;
  opacity: 0;
  cursor: pointer;
}

.boolean-view {
  transition: 0.2s all;
}
.boolean-true:checked ~ .boolean-display .true {
  background-color: #0275d8 !important;
  color: white !important;
}
.boolean-false:checked ~ .boolean-display .false {
  background-color: #0275d8 !important;
  color: white !important;
}

.snippet-text {
  min-height: auto;
}
.delete-button {
  transition: 0.3s all;
  font-size: 1.7em;
}
.delete-button:hover {
  cursor: pointer;
}
